Smart Cannabis/SourceCode/flows (2).json
[
    {
        "id": "57e616bbfde0055c",
        "type": "tab",
        "label": "Project",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5cae48c0e2b95e7",
        "type": "ui_switch",
        "z": "57e616bbfde0055c",
        "name": "",
        "label": "Water",
        "tooltip": "",
        "group": "4f54d0db8f7f3eae",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "LED2",
        "topicType": "str",
        "style": "",
        "onvalue": "0",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "d0dc23c59f7db3c6",
                "e563c9e26e6e39b5"
            ]
        ]
    },
    {
        "id": "d0dc23c59f7db3c6",
        "type": "mqtt out",
        "z": "57e616bbfde0055c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0d6b022f39e93076",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "e563c9e26e6e39b5",
        "type": "debug",
        "z": "57e616bbfde0055c",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "677f9a3de69c6233",
        "type": "ui_switch",
        "z": "57e616bbfde0055c",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "4f54d0db8f7f3eae",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "LED1",
        "topicType": "str",
        "style": "",
        "onvalue": "0",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "d0dc23c59f7db3c6",
                "e563c9e26e6e39b5"
            ]
        ]
    },
    {
        "id": "8d5a9628be99229d",
        "type": "aedes broker",
        "z": "57e616bbfde0055c",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 350,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4f54d0db8f7f3eae",
        "type": "ui_group",
        "name": "Control",
        "tab": "09a6268b4e1f5cda",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d6b022f39e93076",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.108.245",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "09a6268b4e1f5cda",
        "type": "ui_tab",
        "name": "Projcetiot",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]